<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ILMIRA</title>
</head>

<body>
    <div>
        Build at:
        <%= htmlWebpackPlugin.options.buildTime %>
    </div>
    <div id="root">

    </div>
</body>

</html>